/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before, *:after {
  box-sizing: border-box
}

ul, ol {
  list-style: none
}

a {
  color: inherit;
  text-decoration: none
}

img {
  max-width: 100%;
  max-height: 100%
}

/* style */
body {
  background-color: #eee;
}

.globalHeader {
  margin: 20px;
}

@media (min-width: 500px) {
  .globalHeader {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.searchForm {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .searchForm {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.searchForm > input {
  width: 100%;
  margin-right: 10px;
  padding: 0 10px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.searchForm > button {
  white-space: nowrap;
  color: #fff;
  background-color: #0282B9;
  border-radius: 4px;
  border: none;
  padding: 0 28px;
  font-size: 16px;
}

.globalMain {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.siteList {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .siteList {
    margin-right: -25px;
    margin-left: 0;
    justify-content: start;
  }
}

.siteList > li {
  margin-bottom: 25px;

  cursor: pointer;
}
@media(min-width: 500px) {
  .siteList > li{
    margin-right: 25px;
  }
}

.siteList .site:hover > .close {
  display: block;
}


.siteList .site {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px 0;
  position: relative;
}

.siteList .site > .logo {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  text-transform: uppercase;
}

.siteList .site > .link {
  font-size: 14px;
  margin-top: 4px;
}

.siteList .addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
  background-color: #fff;
  padding: 20px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.siteList .text {
  font-size: 14px;
  margin-top: 4px;
}

.addButton .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper > .icon-add {
  width: 64px;
  height: 64px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.close > .icon-close {
  width: 18px;
  height: 18px;
  vertical-align: -0.15em;
  fill: currentColor;

}

.close {
  position: absolute;
  top: -1px;
  left: 1px;
  display: none;
  cursor: default;
}